<div class="p-10">

    <header class="flex justify-between items-center mb-10">
        <h1
        class="text-center text-indigo-500 text-3xl font-bold">
        Toutes les tâches de la tache devant le clavier (toi si t'as pas compris GROSSE TACHE)
        </h1>

        <div class="flex gap-2">
            <button
            class="px-4 py-2 bg-orange-500 text-white rounded text-base cursor-pointer hover:bg-indigo-500"
            (click)="deleteAccount()">
            J'me tue
            </button>

            <button
            class="px-4 py-2 bg-indigo-500 text-white rounded text-base cursor-pointer hover:bg-orange-500"
            (click)="logout()">
            J'me tire
            </button>
        </div>

    </header>

    <main>
      @if (isLoggedIn()) {
        <p class="text-xl">Bienvenue 
          <span 
          class="font-bold text-xl text-indigo-500 hover:text-orange-500 cursor-pointer"
          (click)="loadData()">
            {{ username }} 
          </span>
        !</p>

      @if (data) {
        <pre
        class="bg-indigo-50 p-5 rounded overflow-auto"
        >
            {{ data | json }}
        </pre>
      }
    }

    <div class="mb-6 mt-10">
      <input
      [(ngModel)]="newTaskLabel"
      placeholder="Nouvelle tâche"
      (keydown.enter)="createTask()"
      class="border p-2 rounded mr-2"
      />
        <button
        (click)="createTask()"
        class="bg-indigo-500 text-white px-4 py-2 rounded hover:bg-orange-500"
        >
          Nouvelle tâche
        </button>
    </div>

    <app-task
      *ngFor="let task of tasks"
      [task]="task"
      (taskDeleted)="deleteTask($event)"
      (taskUpdated)="updateTask($event)">
    </app-task>

  </main>

</div>
